<% include partials/header %>
    <h1>Add Customer: </h1>
    <form method="POST" action="/users/add">
        <label> First Name </label><br>
        <input type="text" name="first_name"><br>
        <label> Last Name </label><br>
        <input type="text" name="last_name"><br>
        <label> Email </label><br>
        <input type="text" name="email">
        <br><br>
        <input type="submit" value="Add User">
    </form>

    <ul>
        <% users.forEach((user) => { %>
        <li><%= user.first_name %> <%= user.last_name %> (<%= user.email %>) <a href="#" data-id="<%= user._id %>" class="deleteUser">delete</a> </li>
        <% }) %>
    </ul>

    <form method="POST" action="/users/search">
        <label> Search By </label><br>
        <select name="search_by">
            <option value="fname">First Name</option>
            <option value="lname">Last Name</option>
            <option value="email">Email</option>
        </select>
        <input name="search_term" /><br /><br />
        <input type="submit" value="Search">
    </form>

<% include partials/footer %>